addToOrder(){

}

<!DOCTYPE html>
<head>
   <title>Home Page</title>
</head>
<style>
   button{
      margin-left: 10px;
   }
</style>

<body>
   <h1>Menu</h1>
   <% for (var i in menu) {%>
      
       <button onClick= "addToOrder(menu[i])">Name: <%=menu[i].name%><button>
   <% } %>
</body>

<script src = "index.js"></script>